# keep emacs running after closing the terminal
# alias emacs='nohup emacs > /dev/null &'

# macOS stuff
# alias wifi='networksetup -setairportpower en0'
alias v='nvim'
alias vi='$HOME/src/nvim-osx64/bin/nvim'

# command to control dotfiles git repository
alias dotgit='/usr/bin/git --git-dir=/Users/ebv/.cfg/ --work-tree=/Users/ebv'

# alias rpi='ssh pi@192.168.1.100'
# alias rpi='mosh pi@192.168.1.100'
# alias router='ssh root@192.168.1.1'
# alias dsm='ssh -p32 evb@michtob.synology.me'
# alias ghost='mosh root@157.230.19.54'

# Changing "ls" to "exa"
alias ls='exa -alG --color=always --group-directories-first'  # my preferred listing
alias la='exa -a --color=always --group-directories-first'  # all files and dirs
alias ll='exa -l --color=always --group-directories-first'  # long format
alias lt='exa -aT --color=always --group-directories-first'  # tree listing
# alias l.='exa -a1 | grep "^\."                              # list hidden files


# newsboat
alias nboat='newsboat -u ~/.config/newsboat/urls -c ~/.config/newsboat/cache.db -C ~/.config/newsboat/config'
alias qboat='newsboat -u ~/.config/newsboat/qa.urls -c ~/.config/newsboat/qa.cache.db -C ~/.config/newsboat/qa.config'
alias yboat='newsboat -u ~/.config/newsboat/yt/yturls -c ~/.config/newsboat/yt/ytcache.db -C ~/.config/newsboat/yt/ytconfig'

# youtube
# alias yta='youtube-dl -4icvwxo "%(title)s.%(ext)s" --audio-format mp3 --audio-quality 0 --netrc "$(pbpaste)"'
alias yta='youtube-dl -4icvwxo "%(title)s.%(ext)s" --audio-format mp3 --audio-quality 0 "$(pbpaste)"'
alias ytvm='youtube-dl -4icvwo "%(playlist_index)s.%(title)s.%(ext)s" --playlist-reverse "$(pbpaste)"'
# alias yt='docker run --rm -u $(id -u):$(id -g) -v $PWD:/data vimagick/youtube-dl'
alias yt='/Users/ebv/src/ytfzf/ytfzf'

alias tsm='transmission-remote michtob.synology.me -n ebv:umber-haughty-revile-kitty'

# sync rpi with laptop
alias srpi='rsync-update -e ssh pi@192.168.1.100:/media/thdd/rpi/drop/ /Users/ebv/Downloads/rpi/'

# ssh into onyx
alias onyx='ssh -p 8022 root@192.168.1.122'

# cd into exrecism folder
#alias exercism='cd /Users/ebv/src/dcp/Exercism'

# brew
# alias bug='brew update; brew upgrade; brew cleanup; brew doctor'

# doom 
# alias redoom='doom re && emacs'

# docker jdk
alias jdk='docker run --rm -v "$PWD":/usr/src/myapp -w /usr/src/myapp openjdk:latest'

# hugo
alias hugo='docker run --rm -it -v $(pwd):/src -v $(pwd)/output:/target klakegg/hugo:0.67.0'
alias hugo-server='docker run --rm -it -v $(pwd):/src -p 1313:1313 klakegg/hugo:0.67.0 server'

# radio
alias silver='mpv "http://213.59.4.27:8000/silver64.aac"'

# alias play='iina $(pbpaste)'
alias play='umpv $(pbpaste)'
